@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://images.unsplash.com/photo-1420802532821-8a885e88e95c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}


.after-load-text {
    opacity: 0;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Agrega estos estilos en tu archivo style.css */
.after-load-text {
    opacity: 0;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    transition: opacity 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    text-shadow: 2px 2px 4px black;
  }
  
  .after-load-text.neon {
    color: white;
    animation: neonGlow 1s ease-in-out infinite alternate;
  }
  
  @keyframes neonGlow {
    from {
      text-shadow: 2px 2px 4px black;
    }
    to {
      text-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 30px #fff, 0px 0px 40px #00fff6, 0px 0px 70px #00fff6, 0px 0px 80px #00fff6, 0px 0px 100px #00fff6, 0px 0px 150px #00fff6;
    }
  }

  .loading-text {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 70px #ffff00, 0 0 80px #ffff00, 0 0 100px #ffff00, 0 0 150px #ffff00;
  }
  
  
  